#!/bin/sh

# Config file for subnodes configuration
BRIDGE_IP=192.168.3.1
BRIDGE_NETMASK=255.255.255.0

# WIRELESS RADIO DRIVER
RADIO_DRIVER=nl80211

# ACCESS POINT
AP_COUNTRY=US
AP_SSID="subnodes$((RANDOM%10000+1))"
AP_CHAN=1

# DNSMASQ STUFF
DHCP_START=192.168.3.101
DHCP_END=192.168.3.254
DHCP_NETMASK=255.255.255.0
DHCP_LEASE=1h

# MESH STUFF
MESH_SSID="submesh"
MESH_CHANNEL=3
CELL_ID=02:12:34:56:78:90
MTU=1532

# other options could be 
#  - BSSID name
#  - Channel
#  - Adapter Names
# ....
