#!/bin/sh
# Config file for subnodes configuration





############################################################
############################################################
############################################################
# MESH STUFF
# FLAGS: y or n
DO_SET_MESH=y

# PARMAS FOR SUBNODES_MESH INIT SCRIPT
MESH_SSID="submesh"
MESH_CHANNEL=3
CELL_ID=02:12:34:56:78:90
MTU=1532

# To-Do: Specify exact device you would like to use for mesh point
#MESH_PHY="phy2"





############################################################
############################################################
############################################################
# IF USING MESH NODE, CREATE BRIDGE FOR MESH AND AP
BRIDGE_IP=192.168.3.10
BRIDGE_NETMASK=255.255.255.0





############################################################
############################################################
############################################################
# HOSTAPD STUFF
# WIRELESS RADIO DRIVER
RADIO_DRIVER=nl80211

# ACCESS POINT
AP_COUNTRY=US

# BE SURE TO USE A UNIQUE NAME
AP_SSID="subnodes$((RANDOM%10000+1))"

# Recommended channels: 1, 6 or 11. Do not use channels 12 or 13 because they won't work with the onboard RPi3 radio
AP_CHAN=6
AP_IP=10.0.0.1
AP_NETMASK=255.255.255.0

# To-Do: Specify exact device you would like to use for access point
#AP_PHY="phy1"





############################################################
############################################################
############################################################
# DNSMASQ STUFF
# SET THE DHCP RANGE IF WE ARE USING A BRIDGE DIRECTING TRAFFIC TO THE MESH OR AP
BR_DHCP_START=192.168.3.101
BR_DHCP_END=192.168.3.254

# SET THE DHCP RANGE IF WE ARE ONLY SETTING UP AN AP
AP_DHCP_START=10.0.0.101
AP_DHCP_END=10.0.0.254
DHCP_NETMASK=255.255.255.0
DHCP_LEASE=1h





############################################################
############################################################
############################################################
# other options could be 
#  - Other Adapter Names
# ....
