#!/bin/sh

# Config file for subnodes configuration
BRIDGE_IP=192.168.3.1
BRIDGE_NETMASK=255.255.255.0

# WIRELESS RADIO DRIVER
RADIO_DRIVER=nl80211

# ACCESS POINT
AP_COUNTRY=US
AP_SSID="subnodes$((RANDOM%10000+1))"
# Recommended channels: 1, 6 or 11
AP_CHAN=6
AP_IP=10.0.0.1
AP_NETMASK=255.255.255.0

# AP_PHY not currently used. 
# To-Do: pull into subnodes_ap init script
AP_PHY="phy1"

# DNSMASQ STUFF
# SET THE DHCP RANGE IF WE ARE USING A BRIDGE DIRECTING TRAFFIC TO THE MESH OR AP
BR_DHCP_START=192.168.3.101
BR_DHCP_END=192.168.3.254
# SET THE DHCP RANGE IF WE ARE ONLY SETTING UP AN AP
AP_DHCP_START=10.0.0.101
AP_DHCP_END=10.0.0.254
DHCP_NETMASK=255.255.255.0
DHCP_LEASE=1h

# MESH STUFF
MESH_SSID="submesh"

# FLAGS: Yy or Nn
DO_SET_MESH=y

# MESH_CHANNEL, CELL_ID, MTU and MESH_PHY not currently used. 
# To-Do: pull into subnodes_mesh init script
MESH_CHANNEL=3
CELL_ID=02:12:34:56:78:90
MTU=1532
MESH_PHY="phy2"

# other options could be 
#  - Other Adapter Names
# ....
