extends framework

block content
	div.subnodes-block
		form(name='config', action='/saveConfig', method='post').form-group
			h4 Setup Networking
			h6 Broadcast Wifi Network?
			input(type='checkbox', name='wifi-access-point' checked).subnodes-input
			h6 Wifi Network Name (Must be Unique!)
			input(type='text', name='wifi-ssid', placeholder='Name of your organization, cause, or purpose?', required).subnodes-input.form-control
			br
			span(onclick='showAdvancedConfig()')#advancedConfigButton.btn.btn-default Advanced Settings
			div#advancedConfig
				span(onclick='hideAdvancedConfig()')#hideAdvancedConfigButton.btn.btn-default Hide Advanced Settings
				h6 Make a Mesh Node?
				input(type='checkbox', name='mesh-node').subnodes-input
				br
				h6 Mesh Network Name (Must be the same across meshed devices!)
				input(type='text', name='mesh-ssid', placeholder='meshnodes', value='meshnodes', required).subnodes-input.form-control
				h6 Wifi Country
				input(type='text', name='wifi-country', value='US').subnodes-input.form-control
				h6 Wifi Channel
				input(type='text', name='wifi-channel', value='1').subnodes-input.form-control
				h6 Bridge IP (Unique between Raspberry Pis)
				input(type='text', name='bridge-ip', value='192.168.3.1').subnodes-input.form-control
				h6 Bridge Subnet Mask
				input(type='text', name='bridge-subnet-mask', value='255.255.255.0').subnodes-input.form-control
				h6 DHCP Starting Address
				input(type='text', name='dhcp-starting-address', value='192.168.3.101').subnodes-input.form-control
				h6 DHCP Ending Address
				input(type='text', name='dhcp-ending-address', value='192.168.3.254').subnodes-input.form-control
				h6 DHCP Mask
				input(type='text', name='dhcp-mask', value='255.255.255.0').subnodes-input.form-control
				h6 DHCP Lease
				input(type='text', name='dhcp-lease', value='1h').subnodes-input.form-control
			div.subnodes-block
				h4 Save Configuration?
				input(type='submit', value='Save').btn


block scripts
	script(src='/js/config.js')