extends framework

block content
	div.text-center
		hr
		h4 Hey Pi!
		hr
		h6 My IPs
		ul
			each ip in ips
				option #{ip}
		a(href='/signin').btn.btn-default Sign Into Wifi
		h6 Network Config
		a(href='/config').btn.btn-default Reconfigure RPi
		a.btn.btn-default Set to Defaults
		h6 Hardware Info
		a(href='/ifconfig').btn.btn-info View Device ifconfig
		hr
		h4 App
		a(href='/app').btn.btn-success Load an App
		span(onclick='updateApp()').btn.btn-success Pull Update
		hr
		h4 Power
		span(onclick='rebootRPi()').btn.btn-danger Reboot
		span(onclick='shutdownRPi()').btn.btn-danger Shutdown

block scripts
	script(src='/js/dashboard.js')