extends framework

block content
	div.text-center
		hr
		h3 Admin Dashboard
		br
		a(href='#').btn.btn-default Install an App
		br
		br
		a(href='#').btn.btn-default Reconfigure Network Settings
		br
		br
		a(href='/config').btn.btn-default Both
		hr