extends layout

block content
	#chat
		#conversation
			#incoming
		#sendMessage
			textarea(rows='1', name='msg', id='msg')

block scripts
	script(src='/socket.io/socket.io.js')
	script(src='/js/chat.js')