extends layout

block content
	#container
		#send-message.well.span4
			h2 Say Something
			hr
			label Your Name 
			input(type="text", name="name", id='name').span4
			label Your Message
			textarea(rows='6', name="msg", id='msg').span4
			button#btn-send.btn.btn-primary
				i.icon-pencil.icon-white
				| Send it !
		#messages.well.span4
			h2 Conversation
			hr
			#incoming

	script(src='/vendor/jquery-1.8.3.min.js')
	script(src='/socket.io/socket.io.js')
	script(src='/js/index.js')