extends layout

block content
	div(id='login')
		p enter a screen name:
		div(id='screenname', class='singleLine', contenteditable='true', spellcheck='false', required='true')
		div(id='buttonWrapper')
			button(id='joinButton') JOIN MAIN CHAT ROOM
			button(id='luckyButton') I'M FEELING LUCKY ;)


	div(id='about')
		p HOT PROBS is a free and anonymous network. Log on for local chat with others in your immediate area. All communication takes place offline and anonymously, so go ahead and say what you really feel.<br/><br/>HOT PROBS is built on top of Subnodes (http://subnod.es), an open source project that enables people to easily set up portable local area networks for anonymous, local communication.

block scripts
	script(src='/js/index.js')