!!!
html
	head
		title = title
		link(rel='stylesheet', href='/vendor/bootstrap.min.css')
		link(rel='stylesheet', href='/css/chat.css')
	body

		div.container-fluid

		div(id='header')
			|HOT PROBS

		script(src='/vendor/jquery-1.8.3.min.js')
		block content