doctype html
html
	head
		title='HOT PROBS'
		meta(name='HandheldFriendly', content='True')
		meta(name='MobileOptimized', content='320')
		meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
		meta(name='apple-mobile-web-app-capable' ,content='yes')
		meta(http-equiv='cleartype', content='on')
		link(rel='apple-touch-icon', href='/img/apple-touch-icon.png')
		link(rel='shortcut icon', href='/img/apple-touch-icon.png')
		link(rel='stylesheet', href='/vendor/bootstrap-responsive.min.css')
		link(rel='stylesheet', href='/css/chat.css')

	body
		div.container-fluid
			div(id='header')
				|HOT PROBS

			block content

		script(src='/vendor/jquery-1.8.3.min.js')
		script(src='/vendor/bootstrap.min.js')

		block scripts

		
