@font-face
   font-family phaisarn
   font-style normal
   src url(/fonts/phaisarn.ttf)
@font-face
   font-family jai
   font-style normal
   src url(/fonts/jai.ttf)
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
body
	margin  0
	padding  0
	background rgb(0,0,0)
	font-family phaisarn
p
	color #eee
	text-align center
	font-size .9em
	line-height 1.25em	
.green
	color #00ff24
	font-style italic
.hot-pink
	color #ff07a5
	font-style italic
.home-link
	color #00ff24
	text-align center
	text-decoration none
.img-404 {
	width 90%
	height auto
}
#header
	margin-top 3px
	color #ff07a5
	font-family jai
	font-size 2em
	letter-spacing .08em
	text-align center
	cursor pointer
#login
	margin-top 13px
	text-align center
	p
		padding 0
		margin 0
	#screenname
		margin 10px auto
		width 200px
		height 20px
		font-size 13px
		color #ff07a5
		background-color #2b292a
		border 0
		border-top 1px solid #434243
		border-radius 0
		text-align center
	#screenname:focus
		outline 0px solid transparent
		[contenteditable="true"].singleLine
			white-space nowrap
		    width 200px
		    overflow hidden
		[contenteditable="true"].singleLine br
			display none
		[contenteditable="true"].singleLine *
			display inline
			white-space nowrap
	#buttonWrapper
		text-align center
		margin 5px 0
		button
			position relative
			padding 7px 10px
			border 0
			background rgb(20,20,20)
			border-top 1px solid #434243
			font-family phaisarn
			font-size 13px
			font-weight bold
			color #ff07a5
			text-decoration none
			text-align center
			cursor pointer
#about
	margin 15px auto
	width 93%
#chat
	margin 0
	padding 0
	width 100%
	margin-top 10px
	#conversation
		position relative
		margin 0
		padding 10px
		height 300px
		color #eee
		background-color #2b292a
		border-top 1px solid #434243
		overflow-y auto
		#incoming
			position absolute
			bottom 0
			width 100%
			max-height 100%
			font-size 13px
			line-height 18px
	textarea
		resize none
		border 0
		margin-top 10px
		padding 7px
		width 100%
		font-family phaisarn
		font-size 13px
		line-height 18px
		color #eee
		background-color #2b292a
		border-top 1px solid #434243
		border-radius 0