@font-face
   font-family phaisarn
   font-style normal
   src url(/fonts/phaisarn.ttf)
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
body 
	margin  0
	padding  0
	height  100%
	background rgb(0,0,0)
	font-family phaisarn
p
	color #eee
	text-align center
#header
	margin 35px
	color #ff07a5
	font-size 36px
	text-align center
[contenteditable="true"].single-line
	white-space nowrap
    width 200px
    overflow hidden
[contenteditable="true"].single-line br
	display none
[contenteditable="true"].single-line *
	display inline
	white-space nowrap
#name
	margin 10px auto
	width 200px
	height 20px
	font-size 13px
	color #ff07a5
	background-color #2b292a
	border 0
	border-top 1px solid #434243
	border-radius 0
	text-align center
#name:focus
	outline 0px solid transparent
#button-wrapper
	text-align center
button
	position relative
	padding 6px 10px
	margin-top -5px
	border 0
	background rgb(0,0,0)
	font-family phaisarn
	font-size 13px
	color #eee
	text-decoration none
	text-align center
	cursor pointer
#about
	margin 25px auto
	width 475px
#chat
	margin auto
	width 600px
	margin-top 40px
#incoming
	height 450px
	margin 0
	padding 10px
	font-size 13px
	line-height 18px
	overflow auto
	color #eee
	background-color #2b292a
	border-top 1px solid #434243
textarea
	resize none
	border 0
	margin-top 20px
	padding 7px
	font-family phaisarn
	font-size 13px
	line-height 18px
	color #eee
	background-color #2b292a
	border-top 1px solid #434243
	border-radius 0
#send-message button
	float right
button
	color #e539ff
#ntfd
	margin 20px