body {
  margin: 0;
  padding: 0;
  height: 100%;
  background: #f2f9fe;
  background: -moz-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* FF3.6+ */
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, #f2f9fe), color-stop(100%, #d6f0fd));
/* Chrome,Safari4+ */
  background: -webkit-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* Chrome10+,Safari5.1+ */
  background: -o-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* Opera 12+ */
  background: -ms-radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* IE10+ */
  background: radial-gradient(center, ellipse cover, #f2f9fe 0%, #d6f0fd 100%);
/* W3C */
}
.shadow {
  text-shadow: -1px 1px 0 #fff;
  -moz-text-shadow: -1px 1px 0 #fff;
  -webkit-text-shadow: -1px 1px 0 #fff;
}
#container {
  margin: auto;
  width: 700px;
  margin-top: 160px;
}
.well {
  margin: 0;
  height: 310px;
  border: 1px solid #ccc;
}
#send-message button {
  float: right;
}
#messages {
  margin-left: 20px;
}
textarea {
  resize: none;
}
#incoming {
  width: 290px;
  height: 192px;
  margin: 0;
  display: inline-block;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  overflow: auto;
  color: #555;
  background-color: #eee;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
button i {
  padding-left: 8px;
}
#ntfd {
  margin: 20px;
}