body 
	margin  0
	padding  0
	height  100%
	background rgb(242,249,254)
	background -moz-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%, rgba(214,240,253,1) 100%) /* FF3.6+ */
	background -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(242,249,254,1)), color-stop(100%,rgba(214,240,253,1))) /* Chrome,Safari4+ */
	background -webkit-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* Chrome10+,Safari5.1+ */
	background -o-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* Opera 12+ */
	background -ms-radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* IE10+ */
	background radial-gradient(center, ellipse cover,  rgba(242,249,254,1) 0%,rgba(214,240,253,1) 100%) /* W3C */

.shadow
	text-shadow: -1px 1px 0 white
	-moz-text-shadow: -1px 1px 0 white
	-webkit-text-shadow: -1px 1px 0 white
#container
	margin auto
	width 700px
	margin-top 160px
.well
	margin 0
	height 310px
	border 1px solid #CCC
#send-message button
	float right
#messages
	margin-left 20px
textarea
	resize none
#incoming
	width 290px
	height 192px
	margin 0
	display inline-block
	padding 4px
	font-size 13px
	line-height 18px
	overflow auto
	color #555
	background-color #eee
	border 1px solid #CCC
	-webkit-border-radius 3px
	-moz-border-radius 3px
	border-radius 3px
button i
	padding-left 8px
#ntfd
	margin 20px