@import '_variables'
@import '_mixins'
@import 'dashboard/main'

@font-face
   font-family phaisarn
   font-style normal
   src url(/fonts/phaisarn.ttf)
@font-face
   font-family jai
   font-style normal
   src url(/fonts/jai.ttf)
border-radius()
  -webkit-border-radius arguments
  -moz-border-radius arguments
  border-radius arguments
body
	margin  0
	padding  0
	background rgb(0,0,0)
	font-family phaisarn
p
	color #eee
	text-align center
	font-size .9em
	line-height 1.25em